.jumbotron {
    background: teal;
    color: azure;
}

.triviaQuest {
    margin:auto;
    text-align: center;
}

.body {
    background-image: url("../images/bananas.png");
}

#dispTimerem {

        font-family: monospace;
        font-size: 50px;
        color: white;
              
        /* Typography */
        text-align:center;
      
        /* Visual */
        background:teal;
}
#dispuserMsg {
    color: red;
}

#dispCorrect{
    color: green;
}

#dispIncorrect {
    color: brown;
}
